
html, body {
    height: 100%;
    width: 100%;
  
    margin: 0;
    padding: 0;
  }
  
  .colored-line {
    height: 10px;
    width: 100%;
    box-shadow: 0px 3px 10px #bdbdbd;
    background-color: #005889;
  }

  #toata-pagina {
    margin-left: 60px;
  }

  .name {
      margin-top: 40px;
      margin-bottom: 0px;
      font-size: 35px;
  }

  p {
      margin-left: 30px;
  }

  h2 {
      color:  #005889;
  }

 #random:nth-child(2) {
     color: red;
 }


  
 
  
  